<div class="card comment-item-container">
    <div class="card-body">
        <div class="row">
            <span class="commenter-profile-container">
                <%= image_tag("default-profile-pic.png", class: "comment-user-image")%>
            </span>
            <div class="col-md-5">
                <div class="row">
                    <h6 class="author-name"><%= comment.user.name %></h6>
                </div>
                <div class="row">
                    <p class="text-secondary"><i><%= comment.user.username %></i></p> 
                </div>
            </div>
            <div class="col-md-6 comment-reaction-container">
                <% if comment.user.id == @current_user.id %>
                <div class="row">
                 <ul class="list-group list-group-flush comment-edit-list-group">
                    <li class="dashboard-block list-group-item">
                    <span class="edit-comment-wrapper"><i class="fa-solid fa-pen-to-square"></i></span>
                    <a href=<%= remove_comment_path(@generator.id) %>><i class="fa-solid fa-trash"></i></a>
                    </li>
                 </ul>
                </div>
                <% end %>
            </div>
        </div>
        <blockquote class="blockquote mb-0">
        <p><%= comment.content %></p>
        </blockquote>
        <div class="comment-date-time-container">
            <i class="text-secondary"><%= comment.created_at.strftime("%A, %B %e, %Y") %></i>
        </div>
    </div>
    
</div>