<%= turbo_frame_tag :name_field do %>
    <div class="row">
        <div class="col-md-6">
            <%= form_with(url: update_name_path(@generator.id), method: :post) do |f| %>
                <%= f.text_area "name_content", class: "form-control", rows: "1", value: (@generator.name || @generator.shape) %>
                <%= f.button "Save", id: "update_name_button", class: "btn btn-outline-dark" %>
            <% end %>
        </div>
        <div class="edit-tools-container col-md-6">
            <%= form_with(url: edit_name_path(@generator.id), method: :get) do |f| %>
                <%= f.button "", class: "clean-button" do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>
