<div class="nanobot-item col-md-4">
    <div class="card mb-3 feed-card">
        <div id="<%= "page_item_#{index}"%>" class="feed-item-container">
            <input type="hidden" id=<%= "item#{index}_geometry" %> value="<%= synth.positions %>">
            <input type="hidden" id=<%= "item#{index}_material" %> value="<%= synth.colors %>">
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= synth.shape %></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Created on <%= synth.created_at.strftime("%B %e, %Y")%></small></p>
            <div class="row">
                <div class="heart-item-container col-md-6">
                    <a class="heart-item" href=""><i class="fa-regular fa-heart heart-item-icon"></i> 35</a>
                </div>
                <div class="comment-item-container col-md-6">
                    <a class="comment-item" href=""><i class="fa-regular fa-comment comment-item-icon"></i> 5</a>
                </div>
            </div>
        </div>
    </div>
</div>