<div class="nanobot-item col-md-4">
    <div class="card mb-3 feed-card">
        <div id="<%= "page_item_#{index}"%>" class="feed-item-container">
            <input type="hidden" id=<%= "item#{index}_geometry" %> value="<%= synth.positions %>">
            <input type="hidden" id=<%= "item#{index}_material" %> value="<%= synth.colors %>">
            <input type="hidden" id=<%= "item#{index}_staples" %> value="<%= synth.staples.to_json %>">
        </div>
        <div class="card-body">
            <h5 class="card-title"><a id=<%= "generator_#{index}_link" %> href="/synthesizer/<%= synth.id %>/visualize"><%= synth.shape %></a></h5>

            <p class="card-text"><small class="text-muted">Created on <%= synth.created_at.strftime("%B %e, %Y")%></small></p>
            <div class="row">
                <div class="comment-reaction-item-container col-md-4">
                    <a href="/synthesizer/<%= synth.id %>/visualize" class="heart-item" id=<%= "generator_#{index}_like" %> value="<%= synth.id %>"><i class="fa-regular fa-heart heart-item-icon"></i> <%= synth.likes.size %></a>
                </div>
                <div class="comment-reaction-item-container col-md-4">
                    <a class="comment-item" href="/synthesizer/<%= synth.id %>/visualize" disabled><i class="fa-regular fa-comment comment-item-icon"></i> <%= synth.comments.size %></a>
                </div>
                <div class="comment-reaction-item-container col-md-4">
                    <span tabindex="0" id=<%= "generator_#{index}_copier" %> class="comment-item share-item-wrapper" data-bs-container="body" 
                    data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="focus" data-bs-content="Copied to clipboard!">
                    <i class="fa-solid fa-arrow-up-from-bracket share-item-icon"></i></span>
                </div>
                
            </div>
        </div>
    </div>
</div>
