<div class="outer-regenerate-container">
    <div class="generator-sidebar" data-bs-spy="scroll" data-bs-offset="0" tabindex="0">
        <div class="generator-sidebar-content">
        <div class="regenerate-container">

            <div class="info-container">
                <div class="row box-state-label">
                    <h6>Info</h6>
                </div>

                <div class="row box-state-container">
                    <div class="form-floating nopad-container">
                        <input type="text" class="form-control" id="dimension_info"
                            value="<%= @generator.get_dimensions %>" disabled>
                        <label for="dimension_info">Dimensions</label>
                    </div>
                </div>

                <div class="row box-state-container">
                    <div class="form-floating nopad-container">
                        <input type="text" class="form-control" id="vertex_cut_info" value="<%= @vertex_cuts %>"
                            disabled>
                        <label for="vertex_cut_info">Vertex Cuts</label>
                    </div>
                </div>

                <div class="row box-state-container">
                    <div class="form-floating nopad-container">
                        <input type="text" class="form-control" id="sequence_base_info" value="A" disabled>
                        <label for="dimension_info">Base</label>
                    </div>
                </div>

                <div class="row box-state-container">
                    <div class="form-floating nopad-container">
                        <input type="text" class="form-control" id="sequence_id_info" value="1" disabled>
                        <label for="dimension_info">Position</label>
                    </div>
                </div>

                <div class="row box-state-container">
                    <div class="form-floating nopad-container">
                        <input type="text" class="form-control" id="shape_side_info"
                            value="<%= @generator.get_dimensions %>" disabled>
                        <label for="dimension_info">Side</label>
                    </div>
                </div>

            </div>

            <div class="actions-container">

                <div class="row box-state-label">
                    <h6>Actions</h6>
                </div>
                <div class="row box-state-container">
                    <%= form_with(url: "/synthesizer/#{@generator.id}/visualize", method: :post, data: { turbo: false }) do |f| %>
                    <%= hidden_field_tag 'regenerate', true %>
                    <%= button_tag "Regenerate Routing", class: "btn btn-outline-secondary w-100 regenerate-button"%>
                    <% end %>
                </div>
                <div class="box-state-container">
                    <button id="box-state" class="btn btn-outline-secondary w-100">Open Form</button>
                </div>
                <div class="box-state-container">
                    <button id="box-state-staples" class="btn btn-outline-secondary w-100">Show Staples</button><br>
                </div>

                <div class="box-state-container">
                    <button id="box-stable-table" type="button" data-bs-toggle="collapse" data-bs-target="#staple_table_container" 
                    aria-expanded="false" aria-controls="staple_table_container" class="btn btn-outline-secondary w-100">View Sequence Table</button>
                </div>

                <div class="box-state-container">
                    <button id="box-state-zoom" class="btn btn-outline-secondary w-100">Enable Zoom</button><br>
                </div>

                <div class="box-state-container">
                    <button id="box-state-add-particle" class="btn btn-outline-secondary w-100">Add Particle</button><br>
                </div>

                <div class="box-state-container">
                    <button id="box-state-viewport" class="btn btn-outline-secondary w-100">Change Viewport</button><br>
                </div>

                <div class="box-state-container">
                    <div class="dropdown download-file-container">
                        <button class="btn btn-outline-secondary dropdown-toggle file-dropdown-menu w-100" type="button"
                            id="download-file-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Download Files
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark file-dropdown-menu">
                            <% @supported_files.each do |file| %>
                            <li>
                                <%= form_with(url: "/synthesizer/#{@generator.id}/visualize", method: :post, data: { turbo: false }) do |f| %>
                                <%= hidden_field_tag 'type', file %>
                                <%= button_tag file, class: "dropdown-item"%>
                                <% end %>

                            </li>

                            <% end %>
                            <li id="gltf_export" class="dropdown-item">
                                GLTF
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="modifications-container">


                <%= form_with(url: update_generator_path(@generator.id), method: :post, data: { turbo: false }) do |f| %>
                <div class="row box-state-label">
                    <h6>Modifications</h6>
                </div>
                <div class="row box-state-container">
                    <div class="form-floating nopad-container">
                        <%= f.text_field :bridge_length, type: "number", class: "form-control", value: "2" %>
                        <%= f.label "Bridge Length", for: "bridge_length", class: "form-label"%>
                    </div>
                </div>


                <div class="row box-state-container">
                    <div class="form-floating nopad-container">
                        <%= f.select :color_palette, options_for_select(@color_palettes, selected: @generator.color_palette), {}, {class: "form-select"}%>
                        <%= f.label "Color Palette", for: "color_palette", class: "form-label"%>
                    </div>
                </div>
                <div class="box-state-container">
                    <%= f.submit "Update", class: "btn w-100 btn-outline-dark" %>
                </div>
                <% end %>
            </div>
        </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var scaffoldPositions = <%= @positions %>;
    var scaffoldColors = <%= @colors %>;
    var scaffold = "<%= @scaffold %>";
    var start = <%= @start %>;
    var end = <%= @end %>;
    var staples = <%= @staples.to_json.html_safe %>;
    var signOutBtn = null;
    var generatorSize = null;
    var boxState = 1;
</script>
<div class="row">
    <div class="canvas-container">
        <div class="datGUI"></div>
        <canvas id="visualize-webgl"></canvas>
    </div>
</div>

<div class="table-container">
    <div class="collapse" id="staple_table_container">
        <table class="table table-striped table-hover col-md-12" id="staples_table">
            <thead>
                <tr>
                    <th>Staple #</th>
                    <th>ID</th>
                    <th>Color</th>
                    <th>Sequence</th>
                    <th>Length (bp)</th>
                </tr>
            </thead>
            <tbody>
                <% @staples['data'].each_with_index do |staple, idx| %>
                <tr>
                    <td><%= idx+1 %></td>
                    <td><%= "#{staple["name"]} (#{Staple.convert2wellname(staple["name"])})" %></td>
                    <td><%= Generator.rgb2hex(staple["color"]) %></td>
                    <td><%= staple["sequence"] %></td>
                    <td><%= staple["sequence"].size %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

  <div class="add-particle-container">
        <div class="add-particle-wrapper">
        <div class="add-particle-close-wrapper">
            <span id="close-icon-wrapper"><i class="fa-solid fa-xmark"></i></span>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="add-particle-shape">
                <option value="cube">Cube</option>
                <option value="tetrahedron">Tetrahedron</option>
                <option value="dodecahedron">Dodecahedron</option>
                <option value="icosahedron">Icosahedron</option>
                <option value="octahedron">Octahedron</option>
            </select>
            <label for="add-particle-shape">Particle Shape</label>
        </div>

        <div class="input-group add-particle-group width-group">
            <span class="input-group-text w-25">Width</span>
            <input type="text" class="form-control width-field" placeholder="45 nm">
        </div>

        <div class="input-group add-particle-group height-group">
            <span class="input-group-text w-25">Height</span>
            <input type="text" class="form-control height-field" placeholder="45 nm">
        </div>
        
        <div class="input-group add-particle-group depth-group">
            <span class="input-group-text w-25">Depth</span>
            <input type="text" class="form-control depth-field" placeholder="45 nm">
        </div>

        <div class="input-group add-particle-group radius-group">
            <span class="input-group-text w-25">Radius</span>
            <input type="text" class="form-control radius-field" placeholder="10 nm">
        </div>

        <div class="add-particle-btn-container add-particle-group">
          <button id="add-particle-btn" class="btn btn-dark w-100">Add Particle</button>
        </div>
    </div>

  </div>

<%= javascript_pack_tag 'visualize', 'data-turbolinks-track': 'reload'%>