<head>
    <title>NanoFrame</title>
    <%= render "layouts/scripts"%>
    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>

    <div class="menu-items">
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active nanofont" href="/nanobot">The NanoBot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/miscellaneous">Miscellaneous</a>
            </li>
        </ul>
    </div>

    <div class="row outer-menu-container">
        <div class="col-md-6">
            <div class="back-container">
                <a class="generator-arrow backbtn btn btn-link" href="/nanobot/<%= @generator.id%>/synthesize">&larr;
                    Synthesize</a>
            </div>
        </div>
    </div>

    <div class="compile-header">
        <h1>Sign up now and save your work!</h1>
        <p class="compile-subtitle">Share your designs with others or keep them private.</p>
    </div>

    <div class="compile-sign-up-outer-container">

        <div class="compile-sign-up-form">

            <div class="sign-up-form-header">
                <h3>Join Project NanoFrame</h3>
                <hr class="my-4">
            </div>

            <form id="signUpForm" action="/nanobot/<%= @generator.id%>/compile" method="POST">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" id="signUpUsername" class="form-control" placeholder="Username"
                        aria-label="Username" aria-describedby="basic-addon1" name="user[username]">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">First and last name</span>
                    <input type="text" id="firstName" aria-label="First name" class="form-control" placeholder="John"
                        name="user[first]">
                    <input type="text" id="lastName" aria-label="Last name" class="form-control" placeholder="Doe"
                        name="user[last]">
                </div>

                <div class="input-group mb-3">
                    <input id="mailName" type="text" class="form-control" placeholder="Mail Name" aria-label="Mail Name"
                        name="user[email_first]">
                    <span class="input-group-text">@</span>
                    <input id="mailAddress" type="text" class="form-control" placeholder="Mail Address"
                        aria-label="Mail Address" name="user[email_last]">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Password</span>
                    <input id="passwordField" type="password" class="form-control" aria-label="password"
                        placeholder="Password" name="user[password]">
                </div>
                <div class="sign-up-btn-container">
                    <button id="signUpSubmit" class="btn btn-lg btn-dark w-50" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="guest-form">
                <div class="guest-from-label">
                    <div class="separator">or</div>
                </div>

            </div>

            <%= form_tag "auth/google_oauth2", method: :post, id: "google-auth-form" do %>
            <div class="github-sign-in-container">
                <a id="google-button" class="btn btn-lg btn-block btn-social btn-google w-50 text-align-center-compile">
                    <i class="fa fa-google"></i> Sign in with Google
                </a>
            </div>
            <%= submit_tag "", class: "invisible", id: "google-sign-in"%>
            <% end %>

            <%= form_tag "auth/facebook", method: :post, id: "facebook-auth-form" do %>
            <div class="github-sign-in-container">
                <a id="github-button"
                    class="btn btn-lg btn-block btn-social btn-facebook w-50  text-align-center-compile">
                    <i class="fa fa-facebook"></i> Sign in with Facebook
                </a>
            </div>
            <%= submit_tag "", class: "invisible", id: "github-sign-in" %>
            <% end %>
        </div>
    </div>

    <div value="2" class="container" id="footer">
        <hr class="my-4">

        <div class="footer-copyright text-center py-3">
            <div class="copyright">
                <p>© 2021 <a href="https://tilabberkeley.com/">Ti Lab</a> @ Berkeley</p>
            </div>
        </div>
    </div>
</body>