<head>
    <title>NanoFrame</title>
    <%= render "layouts/scripts"%>
    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
    <%= render partial: "layouts/nav", locals: {tab: "bot"}%>
    <div class="shape-generator-container">
        <%= form_tag shape_generator_path, method: :get, id: 'cube_generator_form' do %>
        <div class="row">
            <div class="col-md-3 form-floating">
                <%= text_field_tag 'step_size', nil, class: "form-control", placeholder: "10 nm", id: "step_size_input" %>
                <label for="step_size_input">Step Size (nm)</label>
            </div>
            <div class="col-md-3 form-floating">
                <%= text_field_tag 'loopout_length', nil, class: "form-control", placeholder: "10 nm", id: "loopout_length_input" %>
                <label for="loopout_length_input">Loopout Length (nm)</label>
            </div>

            <div class="col-md-2 form-floating">
                <%= text_field_tag 'max', "240", class: "form-control", id: "max_input" %>
                <label for="max_input">Max (nm)</label>
            </div>
            <div class="col-md-2 form-floating">
                <%= text_field_tag 'min', "10", class: "form-control", id: "min_input"%>
                <label for="max_input">Min (nm)</label>
            </div>
            <div class="col-md-2 form-floating">
                <%= text_field_tag 'scaff_length', "7249", class: "form-control", id: "scaff_length_input"%>
                <label for="scaff_length_input">Scaffold Length (bp)</label>
            </div>
        </div>
        <div class="form-submit-container">
            <%= submit_tag 'Generate', id: 'tmdb_submit', class: 'btn btn-primary btn-block p-3 w-50' %>
        </div>
        <% end %>
    </div>

    <% if @returned_results %>
    <div class="table-container">
        <h2>Results for step=<%= @step_size %>, loopout=<%= @loopout_length %></h2>
        <% if !@objects.empty? %>
        <table class="table table-striped col-md-12" id="dimesnion_generator">
            <thead>
                <tr>
                    <th>Height</th>
                    <th>Width</th>
                    <th>Depth</th>
                    <th>Stripes</th>
                    <th>Loopout leftover (bp)</th>
                </tr>
            </thead>
            <tbody>
                <% @objects.each do |object| %>
                <tr>
                    <td>
                        <%= object.height %>
                    </td>
                    <td>
                        <%= object.width %>
                    </td>
                    <td>
                        <%= object.depth %>
                    </td>
                    <td>
                        <%= object.segments %>
                    </td>
                    <td>
                        <%= object.leftover %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <% else %>
        <h5>No cuboid configuration found</h5>
        <% end %>
    </div>
    <% end %>
    <%= render "layouts/footer"%>
    <%= javascript_pack_tag 'shapeGenerator', 'data-turbolinks-track': 'reload'%>

</body>