<head>
  <title>NanoFrame</title>
  <%= render "layouts/scripts"%>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>



  <%= render partial: "layouts/nav", locals: {tab: "synthesizer"}%>

  <div class="message-container">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
      <span class="mesage-value"><%= value %></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% end %>
    <div class="alert alert-warning alert-dismissible fade show warning-container" role="alert">
      <p class="warning-text">The Loopout length is over 200 base pairs </p><a href="#"
        id="continue_anchor">Continue?</a> See <a href="synthesizer/generator">generator page</a>
      for iteractive examples.
    </div>
    <div class="alert alert-danger alert-dismissible fade show danger-container" role="alert">
      Specified dimensions are greater than scaffold length!
    </div>
  </div>


  <!-- End of NAVBAR-->

  <!-- Start of Synthesizer Selection-->
  <div class="row selection-menu">
    <div id="canvas-container" class="col-md-6">
      <!-- <div class="datGUI"></div> -->
      <canvas id="synthesizer"></canvas>
    </div>
    <div class="controls-outer-container col-md-6">
      <div id="controls-container">
        <div class="synthesizer-header">
          <h6>Select Synthesizing Options</h6>
        </div>
        <%= form_with(model: @generator, url: "/synthesizer/new", method: :post, id: "synthesize-form", class: "synthesize-form") do |f| %>
        <div class="form-container">
          <div class="shape-dropdown">
            <div class="synthesizer-item">
              <div class="form-floating">
                <%= f.select :shape, @shapes, {}, {class: "form-select"} %>
                <%= f.label "Shape", for: "generator_shape_id" %>
              </div>
            </div>
            <div class="synthesizer-item">
              <div class="form-floating">
                <%= f.select :scaffold_name, @scaffolds, {}, {class: "form-select"} %>
                <%= f.label "Scaffold", for: "generator_scaffold_name" %>
              </div>
              <%# <%= select_tag(:shape,  options_for_select(@options, :select => "2", :disabled => "0"), id: "synthesizer-shape", class: "form-select")%>
            </div>
          </div>
          <div class="synthesizer-item custom-scaffold-container">
            <div class="form-floating">
              <input type="text" class="form-control" id="custom_sequence_length" placeholder="scaffold length">
              <label for="custom_sequence_length">Scaffold Length</label>
            </div>
          </div>
          <%# Erbify %>
          <div class="row sequence-container synthesizer-item">
            <div class="col-md-5 random-sequence-container">
              <input class="form-check-input" type="checkbox" value="" id="sequence_checkbox" autocomplete="off">
              <label id="sequence_checkbox_label" class="form-check-label" for="sequence_checkbox">
                Random Sequence
              </label>
            </div>

            <div class="col-md-7 input-container" id="sequence_upload_container">
              <input class="form-control form-control-sm" id="sequenceUpload" type="file" accept=".txt">
            </div>
          </div>
          <%= f.hidden_field "scaffold_length" ""%>
          <div class="row">
            <div class="col-md-6">
              <%# <div class="wireframe-container">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                    Wireframe
                  </label>
                </div>
              </div> %>
            </div>
            <% if @current_user %>
            <div class="col-md-6">
              <div class="visibility-container">
                <div class="form-check form-switch">
                  <%= f.check_box :visibility, class: "form-check-input", id: "visibility-input", checked: true%>
                  <label class="form-check-label" id="visibility-label" for="visibility-input">Public</label>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <%# Add hidden field for JSON data %>

          <div class="dimension-picker">
            <div class="width-container synthesizer-item dimension-wrapper-container">
              <div class="input-group dimension-input-container">
                <span class="input-group-text w-25">Width</span>
                <%= f.text_field :width, type: "text", class: "dimension-input width-input form-control", placeholder: "50 nm" %>
              </div>
            </div>

            <div class="height-container synthesizer-item dimension-wrapper-container">
              <div class="input-group dimension-input-container">
                <span class="input-group-text w-25">Height</span>
                <%= f.text_field :height, type: "text", class: "dimension-input height-input form-control", placeholder: "50 nm" %>
              </div>
            </div>

            <div class="depth-container synthesizer-item dimension-wrapper-container">
              <div class="input-group dimension-input-container">
                <span class="input-group-text w-25">Depth</span>
                <%= f.text_field :depth, type: "text", class: "dimension-input depth-input form-control", placeholder: "50 nm" %>
              </div>
            </div>

            <div class="ws-container synthesizer-item dimension-wrapper-container">
              <div class="input-group dimension-input-container">
                <span class="input-group-text w-25">Divisions</span>
                <%= f.text_field :divisions, type: "text", class: "dimension-input divisions-input form-control", placeholder: "4" %>
              </div>
            </div>

            <div class="json-container">
              <%= f.text_field :json, type: "hidden", class: "json-input" %>
            </div>
          </div>

          <p class="advanded-option-header">
            <button class="btn btn-link advanced-option" type="button" data-bs-toggle="collapse"
              data-bs-target="#advanced_options_menu" aria-expanded="false">
              <i class="fa-solid fa-angle-right"></i>Advanced
            </button>
          </p>
          <div class="collapse" id="advanced_options_menu">
            <div class="row ">
              <div class="col-md-4">
                <span class="input-group-text w-75">Edge Type</span>
              </div>
              <div class="col-md-8 helix-bundles-container">
                <div class="form-check form-check-inline">
                  <%= f.radio_button :edge_type, "1HB", class: "form-check-input", id: "1hb_edge_type", autocomplete: "off", checked: true %>
                  <%= f.label "1 HB", "1 HB", for: "generator_edge_type", class: "form-check-label"%>
                </div>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :edge_type, "2HB", class: "form-check-input", id: "2hb_edge_type", autocomplete: "off" %>
                  <%= f.label "2 HB", "2 HB", for: "generator_edge_type", class: "form-check-label"%>
                </div>
              </div>

            </div>

            <div class="input-group synthesizer-item">
              <span class="input-group-text w-50">Exterior Extensions Length</span>
              <%= f.text_field :exterior_extensions, type: "text", value: "10", class: "form-control", placeholder: "10" %>
              <div class="btn-group btn-group" role="group">
                <%= f.radio_button :exterior_bond_type, :zipbond, class: "btn-check", autocomplete: "off", checked: true %>
                <%= f.label "Zip Bonds", for: "generator_exterior_bond_type_zipbond", class: "btn btn-outline-dark"%>
                <%= f.radio_button :exterior_bond_type, :armbond, class: "btn-check", autocomplete: "off"%>
                <%= f.label "Arm Bonds", for: "generator_exterior_bond_type_armbond", class: "btn btn-outline-dark" %>
              </div>
            </div>
            <div class="input-group synthesizer-item">
              <div class="col-md-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="disable_exteriror_extensions">
                  <label class="form-check-label" for="disable_exteriror_extensions">
                    Disable Exterior Extensions
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-container">
                  <%= f.file_field "exterior_extension_sequence", class: "form-control form-control-sm", accept: ".txt"%>
                </div>
              </div>
            </div>

            <div class="input-group synthesizer-item">
              <span class="input-group-text w-50">Interior Extensions Length</span>
              <%= f.text_field :interior_extensions, type: "text", value: "10", class: "form-control", placeholder: "10" %>
              <div class="btn-group btn-group" role="group">
                <%= f.radio_button :interior_bond_type, :zipbond, class: "btn-check", autocomplete: "off", checked: true %>
                <%= f.label "Zip Bonds", for: "generator_interior_bond_type_zipbond", class: "btn btn-outline-dark" %>
                <%= f.radio_button :interior_bond_type, :armbond, class: "btn-check", autocomplete: "off"%>
                <%= f.label "Arm Bonds", for: "generator_interior_bond_type_armbond", class: "btn btn-outline-dark" %>
              </div>
            </div>

            <div class="input-group synthesizer-item">
              <div class="col-md-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="disable_interior_extensions">
                  <label class="form-check-label" for="disable_interior_extensions">
                    Disable Interior Extensions
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-container">
                  <%= f.file_field "interior_extension_sequence", class: "form-control form-control-sm", accept: ".txt"%>
                </div>
              </div>
            </div>
            <div class="synthesizer-item">
              <div class="form-floating">
                <%= f.text_field :bridge_length, type: "number", class: "form-control", value: "2" %>
                <%= f.label "Bridge Length", for: "generator_bridge_length", class: "form-label" %>
              </div>
            </div>

            <div class="synthesizer-item">
              <div class="form-floating">
                <%= f.text_field :reflection_buffer_length, type: "number", class: "form-control", value: "1" %>
                <%= f.label "Reflection Buffer Length", for: "generator_reflection_buffer_length", class: "form-label" %>
              </div>
            </div>

            <div class="synthesizer-item">
              <div class="form-floating">
                <%= f.select :color_palette, @color_palettes, {}, {class: "form-select"}%>
                <%= f.label "Color Palette", for: "color_palette", class: "form-label"%>
              </div>
            </div>
          </div>

          <div class="synthesizer-btn-container">
            <%= f.submit "Synthesize", id: "synthesize-btn", class: "synthesizer-btn btn btn-auxiliary btn-lg w-100", disabled: true%>
          </div>
        </div>
        <% end %>
      </div>

    </div>
    <!-- End of Synthesizer Selection-->

    <%= render "layouts/footer"%>
    <%= javascript_pack_tag 'dna', 'model', 'nanobot', 'synthesizerMenu', 'data-turbolinks-track': 'reload'%>
</body>