<head>
    <title>NanoFrame</title>
    <%= render "layouts/scripts"%>
    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
    <input type="hidden" id="raw-graph-container" value="<%= @raw_graph_json %>">
    <input type="hidden" id="graph-container" value="<%= @graph_json %>">
    <input type="hidden" id="sets-container" value="<%= @vertices %>">
    <input type="hidden" id="scaffold-container" value="<%= @scaffold %>">


    <%= render partial: "layouts/nav", locals: {tab: "bot"}%>
    <div class="row outer-menu-container">
        <div class="col-md-6">
            <div class="back-container">
                <a class="generator-arrow backbtn btn btn-link" href="/nanobot/<%= @generator.id%>/visualize">&larr;
                    Visualize</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="forward-container">
                <a class="route-arrow backbtn btn btn-link" href="/nanobot/<%= @generator.id%>/compile">Save &rarr;</a>
            </div>
        </div>
    </div>

    <div class="routing-controls">

    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="up-button-container">
                <button id="up-key-button" class="arrowbtn arrowbtn-up"></button>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="left-key-container">
                <button id="left-key-button" class="arrowbtn arrowbtn-left"></button>
            </div>
        </div>
        <div class="col-md-10">
            <div class="router-container">
                <canvas id="router-webgl"></canvas>
            </div>
        </div>
        <div class="col-md-1">
            <div class="right-key-container">
                <button id="right-key-button" class="arrowbtn arrowbtn-right"></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="down-butoon-container">
                <button id="down-key-button" class="arrowbtn arrowbtn-down"></button>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="table-container">
        <div class="row">
            <div class="col-md-8">
                <h2>Staple Strands Sequences</h2>
            </div>
            <div class="col-md-4">
                <div class="download-file-container">
                    <div class="dropdown">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="download-file-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Download Files
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <% @supported_files.each do |file| %>
                                <li>
                                    <%= form_with(url: "/nanobot/#{@generator.id}/routing", method: :post) do |f| %>
                                        <%= hidden_field_tag 'type', file %>
                                        <%= button_tag file, class: "dropdown-item"%>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped col-md-12" id="staples_table">
            <thead>
                <tr>
                    <th>Staple #</th>
                    <th>ID</th>
                    <th>Sequence</th>
                    <th>Length (bp)</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        var scaffoldPositions = <%= @positions %> ;
        var scaffoldColors = <%= @colors %> ;
        var scaffold = "<%= @scaffold %>";
        var staples = JSON.parse( <%= @staples.to_json.html_safe %> );
        var dimensions = <%= @dimensions.to_json.html_safe %> ;
    </script>

    <%= render "layouts/footer"%>
    <%= javascript_pack_tag 'routing2', 'data-turbolinks-track': 'reload'%>

</body>