<head>
    <title>NanoFrame</title>
    <%= render "layouts/scripts"%>
    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
    <input type="hidden" id="generator-container" value="<%= @generator.to_json %>"></div>
    <div class="menu-items">
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active nanofont" href="/nanobot">The NanoBot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/miscellaneous">Miscellaneous</a>
            </li>
        </ul>
    </div>

    <div class="row outer-menu-container">
        <div class="col-md-6">
            <div class="back-container">
                <a class="generator-arrow backbtn btn btn-link" href="/nanobot/<%= @generator.id%>/routing">&larr;
                    Routing</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="forward-container">
                <a class="route-arrow btn btn-link" href="/nanobot/<%= @generator.id%>/compile">Save &rarr;</a>
            </div>
        </div>
    </div>

    <div class="generator-outer-container">
        <div class="generator-text">
            <div class="animate-typing" data-type-speed="200" data-type-delay="20" data-remove-speed="20"
                data-remove-delay="500">
                Synthesization Results |
                Generated
            </div>

            <div class="generator-download-container">
                <a href="/nanobot/<%= @generator.id %>/pdb" class="btn btn-outline-warning">
                    <%= image_tag("download", class: "generate-download-txt") %> .pdb
                </a>


                <a href="/nanobot/<%= @generator.id %>/oxdna" class="btn btn-outline-secondary">
                    <%= image_tag("download", class: "generate-download-txt") %> .oxDNA
                </a>
                <a href="/nanobot/<%= @generator.id %>/txt" class="btn btn-outline-danger">
                    <%= image_tag("download", class: "generate-download-txt") %> Staples (.txt)
                </a>
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-outline-dark">
                        Other files
                    </button>
                    <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/nanobot/<%= @generator.id %>/cadnano" class="dropdown-item">.caDNAno (.json)</a>
                        </li>
                        <li><a href="/nanobot/<%= @generator.id %>/csv" class="dropdown-item">sequence & staples
                                (.csv)</a></li>
                        <li><a href="/nanobot/<%= @generator.id %>/fasfa" class="dropdown-item">.FASFA</a></li>
                        <!-- Dropdown menu links -->
                    </ul>
                </div>
            </div>

            <br>
            <div class="generator-download-container-2">

                <h5>or download all</h5>
                <a href="/nanobot/<%= @generator.id %>/bundle" class="btn btn-outline-success">
                    <%= image_tag("download", class: "generate-download-txt") %> bundle
                </a>
            </div>
        </div>
        <div class="viewer-container">
            <ul class="nav nav-tabs justify-content-center view-tabs">
                <li class="nav-item molstar-view">
                    <a class="molstar-view-link nav-link active">Mol*</a>
                </li>
                <li class="nav-item oxview">
                    <a class="oxview-link nav-link">Oxview</a>
                </li>
            </ul>
        </div>

        <div class="iframe-container">
            <iframe src="https://molstar.org/viewer/" title="Mol*" class="iframe-viewer"></iframe>
        </div>
    </div>

    <div value="2" class="container" id="footer">
        <hr class="my-4">

        <div class="footer-copyright text-center py-3">
            <div class="copyright">
                <p>© 2021 <a href="https://tilabberkeley.com/">Ti Lab</a> @ Berkeley</p>
            </div>
        </div>
    </div>

    <%= javascript_pack_tag 'nanogen', 'typingAnimation', 'data-turbolinks-track': 'reload'%>

</body>