<head>
    <title>NanoFrame</title>
    <%= render "layouts/scripts"%>
    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
    <input type="hidden" id="generator-container" value="<%= @graph_json %>">
    <input type="hidden" id="generator-id-container" value="<%= @generator.id %>">
    <input type="hidden" id="staples-container" value="<%= @staples %>">
    <input type="hidden" id="routing-positions" value="">


    <%= render partial: "layouts/nav", locals: {tab: "bot"}%>

    <div class="row outer-menu-container">
        <div class="col-md-6">
            <div class="back-container">
                <a href="/nanobot" class="generator-arrow btn btn-link backbtn">&larr; Back</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="forward-container">
                <a href="/nanobot/<%= @generator.id%>/routing" class="btn btn-link forwardbtn route-arrow" id="routing-btn">Routing &rarr;</a>

            </div>
        </div>
    </div>

    <div class="outer-regenerate-container">

        <div class="regenerate-container">
            <div class="info-container">
                <div class="row box-state-label">
                    <h6>Info</h6>
                </div>

                <div class="row box-state-container">
                    <div class="form-floating nopad-container">
                        <input type="text" class="form-control" id="dimension_info"
                            value="<%= @generator.get_dimensions %>"
                            disabled>
                        <label for="dimension_info">Dimensions</label>
                    </div>
                </div>

                <div class="row box-state-container">
                    <div class="form-floating nopad-container">
                        <input type="text" class="form-control" id="vertex_cut_info"
                            value="<%= @generator.vertex_cuts %>" disabled>
                        <label for="vertex_cut_info">Vertex Cuts</label>
                    </div>
                </div>

            </div>

            <div class="actions-container">

                <div class="row box-state-label">
                    <h6>Actions</h6>
                </div>
                <div class="row box-state-container">
                    <%= link_to "Regenerate Routing", generate_routing_path({regenerate: true}), class: "btn btn-outline-secondary" %>
                </div>
                <div class="row box-state-container">
                    <input id="box-state" type="checkbox" class="btn-check" autocomplete="off">
                    <label id="box-state-label" class="btn btn-outline-secondary" for="box-state">Open Form</label>
                </div>
                <div class="row box-state-container">
                    <input id="box-state-staples" type="checkbox" class="btn-check" autocomplete="off">
                    <label id="box-state-staples-label" class="btn btn-outline-secondary" for="box-state-staples">Show
                        Staples</label><br>
                </div>

                <div class="row box-state-container">
                        <div class="dropdown download-file-container">
                            <button class="btn btn-outline-secondary dropdown-toggle file-dropdown-menu" type="button" id="download-file-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Download Files
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark file-dropdown-menu">
                                <% @supported_files.each do |file| %>
                                    <li>
                                        <%= form_with(url: "/nanobot/#{@generator.id}/visualize", method: :post) do |f| %>
                                            <%= hidden_field_tag 'type', file %>
                                            <%= button_tag file, class: "dropdown-item"%>
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                </div>

            </div>
            <div class="modifications-container">


                <%= form_with(url: update_generator_path(@generator.id), method: :post) do |f| %>
                <div class="row box-state-label">
                    <h6>Modifications</h6>
                </div>
                <div class="row box-state-container">
                    <div class="form-floating nopad-container">
                        <%= f.text_field :bridge_length, type: "number", class: "form-control", value: "2" %>
                        <%= f.label "Bridge Length", for: "bridge_length", class: "form-label"%>
                    </div>
                </div>


                <div class="row box-state-container">
                    <div class="form-floating nopad-container">
                        <%= f.select :color_palette, @color_palettes, {}, {class: "form-select"}%>
                        <%= f.label "Color Palette", for: "color_palette", class: "form-label"%>
                    </div>
                </div>
                <div class="row box-state-container">
                    <%= f.submit "Update", class: "btn btn-outline-dark" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="selectionOuterContainer">
        <div class="selectionContainer">
            <div class="row">
                <div class="seqeunce-name">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Base</span>
                        <input type="text" class="form-control sequence-base" value="<%= @scaffold[0]%>" disabled>
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Position</span>
                        <input type="text" class="form-control sequence-id" value="1" disabled>
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Side</span>
                        <input type="text" class="form-control side-id" value="" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var scaffoldPositions = <%= @positions %>;
        var scaffoldColors = <%= @colors %>;
        var scaffold = "<%= @scaffold %>";
        var start = <%= @start %>;
        var end = <%= @end %>;
        var staples = JSON.parse(<%= @staples.to_json.html_safe %>); 
        var signOutBtn = null;
        var generatorSize = null;
        var boxState = 1;
    </script>
    <div class="row">
        <div class="canvas-container">
            <div class="datGUI"></div>
            <canvas id="visualize-webgl"></canvas>
        </div>
    </div>
    <div class="col-md-1">
    </div>

    <div class="table-container">
        <h2>Staple Strands Sequences</h2>

        <table class="table table-striped col-md-12" id="staples_table">
            <thead>
                <tr>
                    <th>Staple #</th>
                    <th>ID</th>
                    <th>Sequence</th>
                    <th>Length (bp)</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>



    <%= render "layouts/footer"%>
    <%= javascript_pack_tag 'visualize', 'stapleTable', 'data-turbolinks-track': 'reload'%>
</body>

</html>