<head>
    <title>NanoFrame</title>
    <%= render "layouts/scripts"%>
    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
    <input type="hidden" id="generator-container" value="<%= @graph_json %>">
    <input type="hidden" id="generator-id-container" value="<%= @generator.id %>">
    <input type="hidden" id="staples-container" value="<%= @staples %>">
    <input type="hidden" id="routing-positions" value="">


    <%= render partial: "layouts/nav", locals: {tab: "bot"}%>

    <div class="row outer-menu-container">
        <div class="col-md-6">
            <div class="back-container">
                <a class="generator-arrow btn btn-link backbtn" href="/nanobot">&larr; Back</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="forward-container">
                <form action="/nanobot/<%= @generator.id%>/routing" method="POST">
                    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                    <input type="hidden" id="set-values" name="vertices" value="">
                    <button type="submit" id="routing-btn" class="btn btn-link forwardbtn route-arrow">Routing
                        &rarr;</button>
                </form>

            </div>
        </div>
    </div>

    <div class="outer-regenerate-container">

        <div class="regenerate-container">
            <div class="actions-container">

            <div class="row box-state-label">
                <h6>Actions</h6>
            </div>
            <div class="row box-state-container">
                <%= link_to "Regenerate Routing", generate_routing_path({regenerate: true}), class: "btn btn-outline-secondary" %>
            </div>
            <div class="row box-state-container">
                <input id="box-state" type="checkbox" class="btn-check" autocomplete="off">
                <label id="box-state-label" class="btn btn-outline-secondary" for="box-state">Open Form</label>
            </div>
            <div class="row box-state-container">
                <input id="box-state-staples" type="checkbox" class="btn-check" autocomplete="off">
                <label id="box-state-staples-label" class="btn btn-outline-secondary" for="box-state-staples">Show
                    Staples</label><br>
            </div>
            <div class="row box-state-container">
                <input id="box-state-interpolated" type="checkbox" class="btn-check" autocomplete="off">
                <label id="box-state-interpolated-label" class="btn btn-outline-secondary"
                    for="box-state-interpolated">Interpolated</label><br>
            </div>
            </div>
            <div class="modifications-container">

            <div class="row box-state-label">
                <h6>Modifications</h6>
            </div>
            <div class="row box-state-container">
                <div class="form-floating bridge-number-container">
                    <input class="form-control" type="number" id="bridge-number" value="2">
                    <label class="form-label" for="bridge-number">Bridge Length</label>
                </div>
            </div>


            <div class="row box-state-container">
                <div class="form-floating bridge-number-container">
                    <select id="color-palette" class="form-select" aria-label="Color Palette">

                        <option selected value="1">Leather Vintage</option> <!-- 3A3845; F7CCAC; C69B7B; 826F66-->
                        <option value="2">Cold Breeze</option> <!-- F7E2E2; 61A4BC; 5B7DB1; 1A132F-->
                        <option value="3">Pink Forest</option> <!-- FAD9E6; E4AEC5; 5F7464; 243D25-->
                        <option value="4">Customize...</option>
                    </select>
                    <label class="form-label" for="color-palette">Color Palette</label>
                </div>
            </div>

            <div class="row box-state-container">
                <button type="button" class="btn btn-outline-dark"> Update </button>
            </div>
            </div>
        </div>
    </div>

    <div class="selectionOuterContainer">
        <div class="selectionContainer">
            <div class="row">
                <div class="seqeunce-name">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Base</span>
                        <input type="text" class="form-control sequence-base" value="" disabled>
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Position</span>
                        <input type="text" class="form-control sequence-id" value="" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var graph_json = JSON.parse(<%= @graph_json.to_json.html_safe %>);
        var staples = JSON.parse(<%= @staples_json.to_json.html_safe %>);
        var signOutBtn = null;
        var generatorSize = null;
        var boxState = 1;
    </script>
    <div class="row">
        <div class="canvas-container">
            <div class="datGUI"></div>
            <canvas id="visualize-webgl"></canvas>
        </div>
    </div>
    <div class="col-md-1">
    </div>




    <%= render "layouts/footer"%>
    <%= javascript_pack_tag 'visualize', 'data-turbolinks-track': 'reload'%>
</body>

</html>