<%= stylesheet_link_tag 'application', media: 'all' %>

<%= render partial: "layouts/nav", locals: {tab: "synthesizer"}%>

<div class="row outer-menu-container">
    <div class="col-md-6">
        <div class="back-container">
            <a href="/synthesizer/new" class="generator-arrow btn btn-link backbtn">&larr; Synthesizer</a>
        </div>
    </div>
</div>
<% if @generator.routing == '{}' %>
    <%= turbo_frame_tag :async_routing, src: generate_async_routing_path, loading: :lazy do %>
        <div class="loading-title">
            <h3>Finding routing for <%= @generator.shape %></h3>
        </div>
        <div class="loading-bar">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    <% end %>
<% else %>
    <%= render "visualize_content" %>
<% end %>
<%= render "layouts/footer"%>