<%= turbo_frame_tag comment do %>
<div class="card comment-item-container">
    <div class="card-body">
        <div class="row">
            <span class="commenter-profile-container">
                <%= image_tag("default-profile-pic.png", class: "comment-user-image")%>
            </span>
            <div class="col-md-5">
                <div class="row">
                    <h6 class="author-name"><%= comment.user.name %></h6>
                </div>
                <div class="row">
                    <p class="text-secondary"><i><%= comment.user.username %></i></p> 
                </div>
            </div>
            <div class="col-md-6 comment-reaction-container">
                <% if !!@current_user && comment.user.id == @current_user.id %>
                <div class="row">
                 <ul class="list-group list-group-flush comment-edit-list-group">
                    <li class="dashboard-block list-group-item edit-tools">
                    <%= form_with(url: edit_comment_path(@generator.id, comment.id), method: :get) do |f| %>
                        <div class="edit-comment-container">
                            <%= f.button("", class: "edit-comment-icon input-group-text") do %>
                                <i class="fa-solid fa-pen-to-square"></i>
                            <%end%>
                        </div>
                    <% end %>
                    <%= form_with(url: remove_comment_path(@generator.id, comment.id), method: :post) do |f| %>
                        <div class="delete-comment-container">
                            <%= f.button("", class: "delete-comment-icon input-group-text") do %>
                                <i class="fa-solid fa-trash"></i>
                            <% end %>
                        </div>
                    <% end %>
                    </li>
                 </ul>
                </div>
                <% end %>
            </div>
        </div>
        <blockquote class="blockquote mb-0">
        <% if edit %>
            <%= form_with(url: update_comment_path(@generator.id, comment.id)) do |f| %>
                <%= f.text_area "comment_content", class: "form-control", rows: "3", value: comment.content %>
                <div class="update-comment-button-container">
                    <%= f.submit "Save", id: "update_comment_button", class: "btn btn-auxiliary" %>
                </div>
            <% end %>
            <%= form_with(url: cancel_update_comment_path(@generator.id, comment.id), method: :get) do |f| %>
                <div class="cancel-update-comment-button-container">
                    <%= f.submit "Cancel", id: "cancel_comment_update_button", class: "btn btn-dominant" %>
                </div>
            <% end %>
        <% else %>
            <p><%= comment.content %></p>
        <% end %>
        </blockquote>
        <div class="comment-date-time-container">
            <i class="text-secondary"><%= comment.created_at.strftime("%A, %B %e, %Y") %></i>
        </div>
    </div>
    
</div>
<% end %>