<div class="playground-item">
    <input type="hidden" id=<%= "item#{index}_geometry" %> value="<%= item.geometry %>">
    <input type="hidden" id=<%= "item#{index}_material" %> value="<%= item.material %>">

    <div class="playground-item-canvas diagram right" id="playground_item_<%= index %>">
    
    </div>
    <div class="playground-item-name">
        <h5><%= item.name %></h5>
    </div>
</div>
