<div class="playgroundItem">
    <input type="hidden" id=<%= "item#{index}_geometry" %> value="<%= item.geometry %>">
    <input type="hidden" id=<%= "item#{index}_material" %> value="<%= item.material %>">
    <div class="itemToPlayGround"></div>
    <div class="playground-item-canvas playground-item diagram right" id="playground_item_<%= index %>">

    </div>
    <div class="playgroundItemTitle">
        <div class="">
            <div class="itemDescriptionContainer">
                <p class="itemDescription itemFont"><%= item.name %> / <%= item.dimensions %> / 7249</p>
            </div>
        </div>
    </div>
</div>