<div class="playgroundItem">
    <input type="hidden" id=<%= "item#{index}_geometry" %> value="<%= item.positions %>">
    <input type="hidden" id=<%= "item#{index}_material" %> value="<%= item.colors %>">
    <div class="itemToPlayGround" id="add_playground_item_<%= index %>"></div>
    <div class="playground-item-canvas playground-item diagram right" id="playground_item_<%= index %>">

    </div>
    <div class="playgroundItemTitle">
        <div class="">
            <div class="itemDescriptionContainer">
                <p class="itemDescription itemFont"><%= item.shape %> / <%= item.get_dimensions %> / 7249</p>
            </div>
        </div>
    </div>
</div>