<head>
    <title>NanoFrame</title>
    <%= render "layouts/scripts"%>
    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
    <%= render partial: "layouts/nav", locals: {tab: "playground"}%>
    <div class="playgroundContainerWrapper">
        <div class="playgroundContainer">
            <canvas id="playground-canvas"></canvas>
            <div class="row">
                <div class="col-md-9">
                    <div class="playgroundToolbar">
                        <div class="row">
                        <div class="col-md-6">
                        <ul class="nav nav-pills">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">File</a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Import Project</a></li>
                                <li><a class="dropdown-item" href="#">Download as NFR</a></li>
                                <li><a class="dropdown-item" href="#">Download as oxView</a></li>
                                <li><a class="dropdown-item" href="#">Download as PDB</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Reset Playground</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Settings</a>
                                <ul class="dropdown-menu">
                                <li><button class="dropdown-item enableZoom">Enable Zoom</button></li>
                                <li><a class="dropdown-item" href="#">Hide Staples</a></li>

                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Show NFR</a></li>
                                <li><a class="dropdown-item" href="#">Show oxView</a></li>
                                <li><a class="dropdown-item" href="#">Show PDB</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Simulation</a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Activate Simulation</a></li>
                                </ul>
                            </li>
                        </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav nav-pills justify-content-end">
                                <li class="nav-item">
                                    <img class="fullscreen" src="https://nanoframe.s3.us-west-1.amazonaws.com/expand.png">
                                </li>
                                <li class="nav-item">
                                    <img class="camera" src="https://nanoframe.s3.us-west-1.amazonaws.com/camera.png">
                                </li>
                                <li class="nav-item">
                                    <img class="save" src="https://nanoframe.s3.us-west-1.amazonaws.com/diskette.png">
                                </li>
                            </ul>
                        </div>

                    </div>
                    </div>
                    <div id="playground" class="diagram left playground">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sidebar">
                        <div class="offSidebarContent">
                            <div class="sidebarHeader">
                                <h4 class="itemHeaderFont">Playground Items</h4>
                                <hr class="my-4">
                            </div>
                            <div class="sidebarSearch">
                                <input type="search" class="sidebarSearchField form-control">
                                <div class="exitSearchBar"></div>
                                <div class="row">
                                <div class="uploadCustomShape col-md-6">
                                    <label for="customFileInput" class="btn btn-link uploadCustomButton">Upload</label>
                                    <input type="file" class="btn btn-link uploadCustomButton" id="customFileInput" accept=".pdb, .oxview, .nfr">
                                    
                                </div>
                                <div class="createCustomShape col-md-6">
                                    <button class="btn btn-link createCustomButton">Create Custom</button>
                                    <div class="createCustomFieldContainer">
                                        <%= render partial: "layouts/form" %>
                                    </div>
                                </div>
                                </div>
                                <hr>
                            </div>
                        </div>

                        <div class="sidebarContent">

                            <input type="hidden" id="playground_item_listing" value="<%= @playground_items.length %>">

                            <% @playground_items.each_with_index do |item, idx| %>
                            <%= render partial: "item", locals: {item: item, index: idx} %>
                            <% end %>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%= render "layouts/footer"%>
    <%= javascript_pack_tag 'playground', 'playgroundQueries', 'nanobot', 'data-turbolinks-track': 'reload'%>
</body>