<head>
    <title>NanoFrame</title>
    <%= render "layouts/scripts"%>
    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
    <%= render partial: "layouts/nav", locals: {tab: "playground"}%>

    <div class="playground-container">
        <canvas id="playground-canvas"></canvas>
        <div class="row">
            <div class="col-md-10">
                <div id="playground" class="diagram left playground">
                </div>
            </div>
            <div class="col-md-2">
                <div class="sidebar">
                    <div class="sidebar-header">
                    </div>
                    <div class="sidebar-search">
                    </div>
                    <div class="sidebar-content">
                    <input type="hidden" id="playground_item_listing" value="<%= @playground_items.length %>">
                        <% @playground_items.each_with_index do |item, idx| %>
                            <%= render partial: "item", locals: {item: item, index: idx} %>
                        <% end %>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <%= render "layouts/footer"%>
    <%= javascript_pack_tag 'playground', 'data-turbolinks-track': 'reload'%>
</body>