<head>
    <title>NanoFrame</title>
    <%= render "layouts/scripts"%>
    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
    <%= render partial: "layouts/nav", locals: {tab: "playground"}%>

    <div class="playgroundContainer">
        <canvas id="playground-canvas"></canvas>
        <div class="row">
            <div class="col-md-10">
                <div id="playground" class="diagram left playground">
                </div>
            </div>
            <div class="col-md-2">
                <div class="sidebar">
                    <div class="sidebarHeader">
                        <h4 class="itemHeaderFont">Playground Items</h4>
                        <hr class="my-4">
                    </div>
                    <div class="sidebarSearch">
                        <input type="search" class="sidebarSearchField form-control">
                        <div class="exitSearchBar"></div>
                        <hr class="my-4">
                    </div>
                    

                    <div class="sidebar-content">

                        <input type="hidden" id="playground_item_listing" value="<%= @playground_items.length %>">
                        <% @playground_items.each_with_index do |item, idx| %>
                            <%= render partial: "item", locals: {item: item, index: idx} %>
                        <% end %>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <%= render "layouts/footer"%>
    <%= javascript_pack_tag 'playground', 'playgroundQueries', 'data-turbolinks-track': 'reload'%>
</body>