<%= form_with(model: router) do |form| %>
  <% if router.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(router.errors.count, "error") %> prohibited this router from being saved:</h2>

      <ul>
        <% router.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shape %>
    <%= form.text_field :shape %>
  </div>

  <div class="field">
    <%= form.label :coordinates %>
    <%= form.text_field :coordinates %>
  </div>

  <div class="field">
    <%= form.label :sequence %>
    <%= form.text_field :sequence %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
