<p id="notice"><%= notice %></p>

<p>
  <strong>Shape:</strong>
  <%= @router.shape %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @router.coordinates %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @router.sequence %>
</p>

<%= link_to 'Edit', edit_router_path(@router) %> |
<%= link_to 'Back', routers_path %>
