<%= turbo_frame_tag :content_tab do %>

    <% if @generator.likes.size == 0 %>
        <p class="text-secondary">This generator does not have any like yet!</p>
    <% else %>
        <% @generator.likes.each_with_index do |like, idx| %>
            <%= render partial: "likes/like", locals: {like: like} %>
            <% if idx != @generator.likes.size - 1 %>
                <hr>
            <% end %>
        <% end %>
    <% end %>
    
    <%= form_with(url: (@already_liked ? dislike_path(@generator.id, @like.id) : like_path(@generator.id)), method: :post, id: "like_post_form") do |f| %>
        <div class="like-post-container">
            <% if @already_liked %>
                <%= f.submit "Dislike Synth", id: "dislike_post_button", class: "btn btn-dark w-25" %>
            <% else %>
                <%= f.submit "Like Synth", id: "like_post_button", class: "btn btn-dark w-25", disabled: @current_user.nil? ? true : false %>
            <% end %>
        </div>
    <% end %>
<% end %>