<div class="card design-container">

    <div class="row element-container">
        <div id=<%= "page_item_#{index}" %> class="col-md-7 px-3 object-container">
            <input type="hidden" id=<%= "item#{index}_geometry" %> value="<%= homepageItem.positions %> ">
            <input type="hidden" id=<%= "item#{index}_material" %> value="<%= homepageItem.colors %> ">
        </div>
        <div class="col-md-5 object-info-container">
            <div class="row first">
                <div class="col-md-6">
                    <p class="item-description">Shape: <%= homepageItem.shape %></p>
                </div>
                <% if homepageItem.public %>
                    <div class="col-md-6 edit-toolkit">
                        <%= form_with(url: update_generator_path(homepageItem.id), method: :post, class: "visibility-form") do |f|%>
                            <%= f.hidden_field "visibility" "" %>
                            <%= f.submit "Make Private", class: "btn btn-link update-generator-btn" %>
                        <% end %>
                    </div>
                <% else %>
                    <%= form_with(url: update_generator_path(homepageItem.id), method: :post, class: "visibility-form") do |f|%>
                        <%= f.hidden_field "visibility" "" %>
                        <%= f.submit "Make Public", class: "btn btn-link update-generator-btn" %>
                    <% end %>
                <% end %>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="item-description">Width: <%= homepageItem.dimensions['width'] %> nm</p>
                </div>

                <div class="col-md-6 edit-toolkit">
                    <a href="/nanobot/<%= homepageItem.id%>/visualize">Edit</a>
                </div>
            </div>
            <div class="row">
                <p class="item-description">Height: <%= homepageItem.dimensions['height'] %> nm</p>
            </div>
            <div class="row">
                <p class="item-description">Depth: <%= homepageItem.dimensions['depth'] %> nm</p>
            </div>
            <div class="row">
                <p class="date-description">Created: <i><%= homepageItem.created_at.strftime("%A, %B %e, %Y") %></i>
                </p>
            </div>
            <div class="row downloads-container">
                <div class="dropdown download-file-container">
                    <button class="btn btn-dark dropdown-toggle file-dropdown-menu" type="button"
                        id="download-file-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Download Files
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark file-dropdown-menu">
                        <% @supported_files.each do |file| %>
                        <li>
                            <%= form_with(url: "/nanobot/#{homepageItem.id}/visualize", method: :post, data: { turbo: false }) do |f| %>
                            <%= hidden_field_tag 'type', file %>
                            <%= button_tag file, class: "dropdown-item"%>
                            <% end %>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>