<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Project Nanoframe</title>

  <!-- Stylesheet Links -->
  <%= render "layouts/scripts" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

</head>

<body>


  <!-- Start of Spinning Cube-->

  <!-- End of Spinning Cube-->

  <!-- Flash message display -->


  <!-- Start of NAVBAR-->
  <div>
    <div class="menu-items">
      <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
          <a class="nav-link active nanofont" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nanobot">The NanoBot</a>
        <li class="nav-item">
          <a class="nav-link" href="/miscellaneous">Miscellaneous</a>
        </li>
      </ul>
    </div>
  </div>
  <% if logged_in? %>
  <!-- Body of a Logged In User -->
  <div class="profile-container">
    <div class="user-portrait-mask">
      <img class="user-portrait" src="https://nanoframe.s3.us-west-1.amazonaws.com/default-profile-pic.png">
    </div>
    <input class="file-upload" type="file" accept="image/*" />
  </div>
  <div class="signout-link-container">
    <a class="btn btn-dark" id="signOutButton" href="/signout">Sign Out</a>
  </div>
  <div class="create-link-container">
    <a class="btn btn-outline-dark" id="signOutButton" href="/nanobot">Create</a>
  </div>
  <div class="user-details-container">
    <h2 class="user-fullname"><%= @current_user.name %></h2>
    <h5 class="user-username"><%= @current_user.username%></h5>
  </div>
  <div class="feed-container">
    <div class="switch-field">
      <input type="radio" id="radio-one" name="switch-one" value="public" checked />
      <label for="radio-one" class="radio-label"><img class="public-png"
          src="https://nanoframe.s3.us-west-1.amazonaws.com/public.png"> Public</label>
      <input type="radio" id="radio-two" name="switch-one" value="private" />
      <label for="radio-two" class="radio-label"><img class="private-png"
          src="https://nanoframe.s3.us-west-1.amazonaws.com/private.png"> Private</label>
      <input type="radio" id="radio-three" name="switch-one" value="history" />
      <label for="radio-three" class="radio-label"><img class="history-png"
          src="https://nanoframe.s3.us-west-1.amazonaws.com/history.png"> History</label>
    </div>
  </div>


  <% end %>

  <!-- End of NAVBAR-->



  <!-- Start of SIGN UP-->
  <% if !logged_in?%>
  <div class="sign-in-outer-container">

    <div class="transparent-layer">
      <div class="sign-in-container">
        <form action='/signin' method='GET' class="row g-3">
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> alert-dismissible" role="alert">
            <!-- <button type="button" class="closing-btn close-<%= key %>" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
            <%= value %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% end %>
          <div class="input-group mb-3">
            <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
            <input type="text" id="logInUsername" class="form-control p-3" placeholder="Username or Email"
              aria-label="Username or Email" aria-describedby="basic-addon1" name="user[login_username]">
          </div>

          <div class="input-group mb-3">
            <!-- <span class="input-group-text">Password</span> -->
            <input type="password" class="form-control p-3" aria-label="password" placeholder="Password"
              name="user[login_password]">
          </div>
          <div>
            <div class="log-in-container">
              <button class="btn btn-lg btn-dark w-100 p-2" type="submit">Log In</button>
            </div>
            <div class="forgot-password-container">
              <a href="">Forgot Password?</a>
              <div>
                <div class="guest-form">
                  <div class="guest-from-label">
                    <div class="separator">or</div>
                  </div>

                </div>
              </div>
        </form>
        <%= form_tag "auth/google_oauth2", method: :post, id: "google-auth-form" do %>
        <div class="github-sign-in-container">
          <a id="google-button" class="btn btn-lg btn-block btn-social btn-google w-100 text-align-center">
            <i class="fa fa-google"></i> Sign in with Google
          </a>
        </div>
        <%= submit_tag "", class: "invisible", id: "google-sign-in"%>
        <% end %>

        <%= form_tag "auth/facebook", method: :post, id: "facebook-auth-form" do %>
        <div class="github-sign-in-container">
          <a id="github-button" class="btn btn-lg btn-block btn-social btn-facebook w-100  text-align-center">
            <i class="fa fa-facebook"></i> Sign in with Facebook
          </a>
        </div>
        <%= submit_tag "", class: "invisible", id: "github-sign-in" %>
        <% end %>
        <a id="signup-btn" class="btn btn-lg btn-outline-dark w-50">Sign Up</a>
      </div>
    </div>

  </div>
  <% end%>

  <% if !logged_in?%>
  <div class="sign-up-outer-container">
    <div class="sign-up-form">

      <div class="sign-up-form-header">
        <h3>Join Project NanoFrame</h3>
        <hr class="my-4">
      </div>

      <form id="signUpForm" action="/" method="POST">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" id="signUpUsername" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1" name="user[username]">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">First and last name</span>
          <input type="text" id="firstName" aria-label="First name" class="form-control" placeholder="John"
            name="user[first]">
          <input type="text" id="lastName" aria-label="Last name" class="form-control" placeholder="Doe"
            name="user[last]">
        </div>

        <div class="input-group mb-3">
          <input id="mailName" type="text" class="form-control" placeholder="Mail Name" aria-label="Mail Name"
            name="user[email_first]">
          <span class="input-group-text">@</span>
          <input id="mailAddress" type="text" class="form-control" placeholder="Mail Address" aria-label="Mail Address"
            name="user[email_last]">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Password</span>
          <input id="passwordField" type="password" class="form-control" aria-label="password" placeholder="Password"
            name="user[password]">
        </div>
        <div class="sign-up-btn-container">
          <button id="signUpSubmit" class="btn btn-dark w-50" type="submit">Sign Up</button>
        </div>

      </form>
    </div>
  </div>
  </div>
  <% end %>


  <div>
    <canvas id="background-webgl"></canvas>
  </div>

  <!-- Start of FOOTER-->

  <div class="container" id="footer">
    <hr class="my-4">

    <div class="footer-copyright text-center py-3">
      <div class="copyright">
        <p>© 2021 <a href="https://tilabberkeley.com/">Ti Lab</a> @ Berkeley</p>
      </div>
    </div>
  </div>
  <!-- End of FOOTER-->
  <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
</body>

</html>