<head>
  <title>NanoFrame</title>

  <%= render "layouts/scripts" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

</head>

<body>
  <%= render partial: "layouts/nav", locals: {tab: "home"}%>
  <% if !@current_user.nil? %>
  <!-- Body of a Logged In User -->
  <div class="row">
      <div class="profile-container">
        <div class="user-portrait-mask">
          <img class="user-portrait" src="https://nanoframe.s3.us-west-1.amazonaws.com/default-profile-pic.png">
        </div>
        <input class="file-upload" type="file" accept="image/*" />
      </div>
      <div class="signout-link-container">
        <a class="btn btn-default" id="signOutButton" href="/signout">Log Out <i
            class="fa-solid fa-arrow-right-to-bracket"></i></a>
      </div>
  </div>

  <div class="user-details-container">
    <h2 class="user-fullname"><%= @current_user.name %></h2>
    <h5 class="user-username"><%= @current_user.username%></h5>
  </div>

  <div class="sorting-container">
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by: Public
      </button>
      <ul class="dropdown-menu" style="">
        <li><button class="dropdown-item" type="button">Author</button></li>
        <li><button class="dropdown-item" type="button">Popularity</button></li>
        <li><button class="dropdown-item" type="button">Newly Synthed</button></li>
      </ul>
    </div>
  </div>


  <% end %>

  <!-- End of NAVBAR-->



  <!-- Start of SIGN UP-->
  <% if @current_user.nil?%>
  <div class="row sign-in-outer-container">
    <div class="col-md-7 animation-container">
      <canvas id="animation-canvas">
      </canvas>
    </div>
    <div class="col-md-5 transparent-layer">

      <div class="sign-in-container">
        <form action='/signin' method='GET' class="row g-3">
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> alert-dismissible" role="alert">
            <!-- <button type="button" class="closing-btn close-<%= key %>" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
            <%= value %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% end %>
          <div class="input-group mb-3">
            <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
            <input type="text" id="logInUsername" class="form-control p-3" placeholder="Username or Email"
              aria-label="Username or Email" aria-describedby="basic-addon1" name="user[login_username]">
          </div>

          <div class="input-group mb-3">
            <!-- <span class="input-group-text">Password</span> -->
            <input type="password" class="form-control p-3" aria-label="password" placeholder="Password"
              name="user[login_password]">
          </div>
          <div>
            <div class="log-in-container">
              <button class="btn btn-lg btn-dark w-100 p-2" type="submit">Log In</button>
            </div>
            <div class="forgot-password-container">
              <a href="">Forgot Password?</a>
              <div>
                <div class="guest-form">
                  <div class="guest-from-label">
                    <div class="separator">or</div>
                  </div>

                </div>
              </div>
        </form>
        <%= form_tag "/auth/google_oauth2", method: :post, id: "google-auth-form" do %>
        <div class="github-sign-in-container">
          <a id="google-button" class="btn btn-lg btn-block btn-social btn-google w-100 text-align-center">
            <i class="fa fa-google"></i> Sign in with Google
          </a>
        </div>
        <%= submit_tag "", class: "invisible", id: "google-sign-in"%>
        <% end %>

        <%= form_tag "/auth/github", method: :post, id: "github-auth-form" do %>
        <div class="github-sign-in-container">
          <a id="github-button" class="btn btn-lg btn-block btn-social btn-github w-100  text-align-center">
            <i class="fa fa-github"></i> Sign in with GitHub
          </a>
        </div>
        <%= submit_tag "", class: "invisible", id: "github-sign-in" %>
        <% end %>
        <a id="signup-btn" class="btn btn-lg btn-outline-dark w-50">Sign Up</a>
      </div>
    </div>

  </div>
  <% end%>

  <% if @current_user.nil? %>
  <div class="sign-up-outer-container">
    <div class="sign-up-form">

      <div class="sign-up-form-header">
        <h3>Join Project NanoFrame</h3>
        <hr class="my-4">
      </div>

      <form id="signUpForm" action="/" method="POST">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" id="signUpUsername" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1" name="user[username]">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">First and last name</span>
          <input type="text" id="firstName" aria-label="First name" class="form-control" placeholder="John"
            name="user[first]">
          <input type="text" id="lastName" aria-label="Last name" class="form-control" placeholder="Doe"
            name="user[last]">
        </div>

        <div class="input-group mb-3">
          <input id="mailName" type="text" class="form-control" placeholder="Mail Name" aria-label="Mail Name"
            name="user[email_first]">
          <span class="input-group-text">@</span>
          <input id="mailAddress" type="text" class="form-control" placeholder="Mail Address" aria-label="Mail Address"
            name="user[email_last]">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Password</span>
          <input id="passwordField" type="password" class="form-control" aria-label="password" placeholder="Password"
            name="user[password]">
        </div>
        <div class="sign-up-btn-container">
          <button id="signUpSubmit" class="btn btn-dark w-50" type="submit">Sign Up</button>
        </div>

      </form>
    </div>
  </div>
  </div>
  <% end %>

  <% if !@current_user.nil? %>

  <div id="user-feed-container">
    <canvas id="homepage-canvas"></canvas>

    <div class="public-generators-container">
      <input type="hidden" id="generator-size" value="<%= @generators.size %>">
      <% @generators.each_with_index do |item, index| %>
      <%= render partial: "item", locals: {homepageItem: item, index: index}%>
      <% end %>
    </div>
  </div>
  <%= render partial: "layouts/pages", locals: {tab: "home", rest: ""}%>
  <% end %>

  <%= render "layouts/footer"%>
  <% if @current_user.nil?%>
      <%= javascript_pack_tag 'main', 'mascot', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= javascript_pack_tag 'main', 'homepage', 'data-turbolinks-track': 'reload' %>
  <% end %>
</body>