<head>
  <title>NanoFrame</title>

  <%= render "layouts/scripts" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

</head>

<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="github" viewBox="0 0 16 16">
    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
  </symbol>

  <symbol id="twitter" viewBox="0 0 16 16">
    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
  </symbol>

  <symbol id="google" viewBox="0 0 16 16">
    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
  </symbol>
</svg>

  <%= render partial: "layouts/nav", locals: {tab: "home"}%>
  <% if !@current_user.nil? %>
  <!-- Body of a Logged In User -->
  <div class="row">
      <div class="profile-container">
        <div class="user-portrait-mask">
          <img class="user-portrait" src="https://nanoframe.s3.us-west-1.amazonaws.com/default-profile-pic.png">
        </div>
        <input class="file-upload" type="file" accept="image/*" />
      </div>
      <div class="signout-link-container">
        <a class="btn btn-auxiliary" id="signOutButton" href="/signout">Log Out <i
            class="fa-solid fa-arrow-right-to-bracket"></i></a>
      </div>
  </div>

  <div class="user-details-container">
    <h2 class="user-fullname"><%= @current_user.name %></h2>
    <h5 class="user-username"><%= @current_user.username%></h5>
  </div>

  <div class="sorting-container">
    <div class="dropdown">
      <button class="btn btn-dominant dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by: <%= (@sort_method == "synthed" || @sort_method.nil?) ? "Newly Synthed" : @sort_method.capitalize %>
      </button>
      <ul class="dropdown-menu" style="">        
        <li><a href="/home/<%= @current_page %>?sort_by=popularity"
                class="dropdown-item" type="button">Popularity</a></li>
        <li><a href="/home/<%= @current_page %>?sort_by=synthed"
                class="dropdown-item" type="button">Newly Synthed</a></li>
        <li><a href="/home/<%= @current_page %>?sort_by=public"
                class="dropdown-item" type="button">Public First</a></li>
        <li><a href="/home/<%= @current_page %>?sort_by=private"
                class="dropdown-item" type="button">Private First</a></li>
      </ul>
    </div>
  </div>


  <% end %>

  <!-- End of NAVBAR-->



  <!-- Start of SIGN UP-->
  <% if @current_user.nil?%>
  <div class="row sign-in-outer-container">
    <div class="col-md-7 animation-container">
      <canvas id="animation-canvas">
      </canvas>
    </div>
    <div class="col-md-5 transparent-layer">

      <div class="sign-in-container">
        <div class="log-in-header-container">
          <h5 class=""><strong>Log In</strong></h5>
        </div>
        <form action='/signin' method='GET' class="row g-3">
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> alert-dismissible" role="alert">
            <!-- <button type="button" class="closing-btn close-<%= key %>" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
            <%= value %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% end %>
          <div class="input-group mb-3">
            <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
            <input type="text" id="logInUsername" class="form-control p-3" placeholder="Username or Email"
              aria-label="Username or Email" aria-describedby="basic-addon1" name="user[login_username]">
          </div>

          <div class="input-group mb-3">
            <!-- <span class="input-group-text">Password</span> -->
            <input type="password" class="form-control p-3" aria-label="password" placeholder="Password"
              name="user[login_password]">
          </div>
          <div>
            <div class="log-in-container">
              <button class="btn btn-lg btn-dominant w-100 p-2" type="submit">Log In</button>
            </div>
            <div class="forgot-password-container">
              <a href="/auth/forgot_password">Forgot Password?</a>
              <div>
                <div class="guest-form">
                  <div class="guest-from-label">
                    <div class="separator">or</div>
                  </div>

                </div>
              </div>
        </form>
        <div class="third-party-sign-in-container">
          <h5 class=""><strong>Use a third-party</strong></h5>
        </div>
        <%= form_with(url: "/auth/twitter", method: :post, id: "twitter-auth-form") do %>
          <%= button_tag class: "w-100 py-2 mb-2 btn btn-twitter-outline rounded-3" do %>
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"/></svg>
            Sign up with Twitter
          <% end %>
        <% end %>

        <%= form_with(url: "/auth/google_oauth2", method: :post, id: "google-auth-form") do %>
          <%= button_tag class: "w-100 py-2 mb-2 btn btn-google-outline rounded-3" do %>
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#google"/></svg>
            Sign up with Google
          <% end %>
        <% end %>

        <%= form_with(url: "/auth/github", method: :post, id: "github-auth-form") do %>
          <%= button_tag class: "w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" do %>
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"/></svg>
            Sign up with GitHub
          <% end %>
        <% end %>
        <a id="signup-btn" class="btn btn-lg btn-auxiliary w-50">Sign Up</a>
      </div>
    </div>

  </div>
  <% end%>

  <% if @current_user.nil? %>
  <div class="sign-up-outer-container">
    <div class="sign-up-form">

      <div class="sign-up-form-header">
        <h3>Join Project NanoFrame</h3>
        <hr class="my-4">
      </div>

      <form id="signUpForm" action="/" method="POST">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" id="signUpUsername" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1" name="user[username]">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">First and last name</span>
          <input type="text" id="firstName" aria-label="First name" class="form-control" placeholder="John"
            name="user[first]">
          <input type="text" id="lastName" aria-label="Last name" class="form-control" placeholder="Doe"
            name="user[last]">
        </div>

        <div class="input-group mb-3">
          <input id="mailName" type="text" class="form-control" placeholder="Mail Name" aria-label="Mail Name"
            name="user[email_first]">
          <span class="input-group-text">@</span>
          <input id="mailAddress" type="text" class="form-control" placeholder="Mail Address" aria-label="Mail Address"
            name="user[email_last]">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Password</span>
          <input id="passwordField" type="password" class="form-control" aria-label="password" placeholder="Password"
            name="user[password]">
        </div>
        <div class="sign-up-btn-container">
          <button id="signUpSubmit" class="btn btn-dominant w-50" type="submit">Sign Up</button>
        </div>

      </form>
    </div>
  </div>
  </div>
  <% end %>

  <% if !@current_user.nil? %>

  <div id="user-feed-container">
    <canvas id="homepage-canvas"></canvas>

    <div class="public-generators-container">
      <input type="hidden" id="generator-size" value="<%= @home_synths.size %>">
      <% @home_synths.each_with_index do |item, index| %>
      <%= render partial: "item", locals: {homepageItem: item, index: index}%>
      <% end %>
    </div>
  </div>
  <%= render partial: "layouts/pages", locals: {tab: "home", rest: "?#{@rest_params}"}%>
  <% end %>

  <%= render "layouts/footer"%>
  <%= javascript_pack_tag 'main', 'homepage', 'data-turbolinks-track': 'reload' %>

</body>