<%= stylesheet_link_tag 'application', media: 'all' %>
<%= render partial: "layouts/nav", locals: {tab: "other"} %>

<div class="row">
    <div class="docs-sidebar-container col-md-3">
        <%= render partial: "sidenav", locals: {main: "synthesizer", section: "dimensions"} %>
    </div>
    <div class="col-md-9">
        <div class="page-container">
            <div class="page-title-container">
                <h3>Dimensions</h3>
            </div>
            <div class="page-body-container">
                <p class="page-body-text">
                    The dimensions of a nanoframe can be described the the overlaying cuboid, with parameters <i>width,</i>
                    <i>height,</i> and <i>depth.</i> For any non-cuboid shape, this means that the polyhedron will be inscribed within
                    the specified boundary box. The more specific coordinates can be adjusted at a later stage. Additionally, the number of
                    divisions describes the number of times DNA helix will cross a side of the polyhedron.
                </p>
                <div class="page-body-image-container">
                    <%= image_tag("guides/synthesizer_demo.png", class: "page-body-image") %>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render "layouts/footer" %>