<%= stylesheet_link_tag 'application', media: 'all' %>
<%= render partial: "layouts/nav", locals: {tab: "other"} %>

<div class="row">
    <div class="docs-sidebar-container col-md-3">
        <%= render partial: "sidenav", locals: {main: "home_feed", section: "home"} %>
    </div>
    <div class="col-md-9">
        <div class="page-container">
            <div class="page-title-container">
                <h3>Home</h3>
            </div>
            <div class="page-body-container">
                <p class="page-body-text">
                    All services found in nanoframe.org are free, open-source, and available to anyone. With that in mind, it is often
                    cumbersome to keep track of active projects -- whether in terms of memory consumption or time spent searching. For these reasons
                    nanoframe.org offers free storage and tools for quick search and display of active projects. We only require authentication, for us to 
                    set a belonging to your created projects, as well as for you not to mix up your projects with that of someone else. Currently, nanoframe.org
                    offers third-party authentication with Google and GitHub, as well as a direct authentication with nanoframe.org. 
                </p>
                <p>
                    Upon registration each user will have assigned (or selected) unique username, which can be changed arbitrarily as long as the desired username is 
                    available. 
                </p>
                <div class="page-body-image-container">
                    <%= image_tag("guides/homepage_demo.png", class: "page-body-image") %>
                </div>
                <p class="page-body-container">
                    Users can choose to update profile picture by right-clicking on the avatar and choosing the new image. In the homepage, one
                    can find the generated nanoframes, and sort them as desired. For each generated nanoframe, we have included a brief summary that can be expanded by clicking
                    <i>Edit.</i> 
                </p>
            </div>
        </div>
    </div>
</div>
<%= render "layouts/footer" %>