<%= stylesheet_link_tag 'application', media: 'all' %>
<%= render partial: "layouts/nav", locals: {tab: "other"} %>

<div class="row">
    <div class="docs-sidebar-container col-md-3">
        <%= render partial: "sidenav", locals: {main: "synthesizer", section: "shapes"} %>
    </div>
    <div class="col-md-9">
        <div class="page-container">
            <div class="page-title-container">
                <h3>Shapes</h3>
            </div>
            <div class="page-body-container">
                <p class="page-body-text">
                    nanoframe.org enables synthesis of a number of platonic, Archimedean, and Johnson shapes. Choosing between
                    shapes can be done through the dropdown menu of the <a href="/synthesizer/new">sythesis page</a>.
                </p>
                <div class="page-body-image-container">
                    <%= image_tag("guides/synthesizer_demo.png", class: "page-body-image") %>
                </div>
                <p class="page-body-text">
                    In principle, the number of convex polyhedrons that is possible to synthesize through nanoframe.org is unlimited. We have chosen,
                    to limit the number of offered shapes to all platonic, Archimedean, and Johnson solids, however, more complicated structures can be generated
                    through playground.
                </p>
            </div>
        </div>
    </div>
</div>
<%= render "layouts/footer" %>