<%= stylesheet_link_tag 'application', media: 'all' %>
<%= render partial: "layouts/nav", locals: {tab: "other"} %>

<div class="row">
    <div class="docs-sidebar-container col-md-3">
        <%= render partial: "sidenav", locals: {main: "experiments", section: "single_origami_assembly"} %>
    </div>
    <div class="col-md-9">
        <div class="page-container">
            <div class="page-title-container">
                <h3>Single-Origami Assembly</h3>
            </div>
            <div class="page-body-container">
                <p class="page-body-text">
                    Most shapes are assembled in a one-pot reaction and annealed for 90 minutes from 90°C to 20°C uniformally with <code>10nM</code> M13mp18 and <code>100nM</code> staple concetration 
                    (10:1 ration) with <code>10mM</code> Magnesium buffer. See shape-specific annealing protocol <a href="#">here</a>. For single-origami assembly we recommend adding 
                    extension cover staples for higher yield rate and reduced aggregation.
                </p>
                <p class="page-body-text">
                    To start experimental validation of nanoframes, it is generally a good idea to perform gel electrophoresis first, to confirm
                    structure complexity and verify that aggregation is not happening. The example figure below demonstrates the results of gel electrophoresis
                    performed on two identical samples of a <code>50nm x 50nm x 50nm x 4</code> cube with extension covers.
                </p>
                <div class="page-body-image-container">
                    <%= image_tag("experiments/nanoframe_gel3.jpg") %>
                </div>
                <p class="page-body-text">
                    Once the strucutral complexity is verified with gel, TEM and AFM follows. We found that using non gel-purified samples gave better 
                    readouts on TEM and AFM. TEM samples were washed in water droplets and stained with 2% uranyl acetate for 2 minutes. 
                </p>
            </div>
        </div>
    </div>
</div>
<%= render "layouts/footer" %>